<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>A new account is created for you on RivalCMS.</p>
        <p> Please, click the link below to set your password and start using the App.</p>
        <a href="{{link}}">Set Password</a>
    </body>
</html>