<html>
<head>
	<style>

	</style>
</head>
<body>
<p>Hi {{name}},</p>
<p>A password reset is requested for your account.</p>
<p>Please, click the link below to reset your password.</p>
<a href="{{link}}">Reset Password</a>
<p>If you don't request password reset, please ignore this password.</p>
</body>
</html>