form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;


  .formGroup {

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;

    margin-bottom: 2rem;


    &.w-50 {
      width: 48%;
    }

  }


  label {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 0 0.8rem;

    p {
      font-size: 1.65em;
      color: $color-primary;
      text-transform: capitalize;
    }


    span {
      color: $color-danger;
      font-size: 1.4rem;
      font-weight: 500;
    }


  }

  .formErrorMsg,
  .formFeedback {
    color: $color-danger;
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    margin-bottom: 1rem;
  }

  .formFeedback {

    width: 100%;
    text-align: center;
    font-size: 1.8rem;

    &.success {
      color: $color-success !important;
    }
  }


}

input, select, textarea {

  width: 100%;
  padding: 1.4rem;
  font-size: 1.75rem;

  border-radius: $input-border-radius;
  border: $input-border;
  background-color: $color-bg;

  &:focus,
  &:active {
    border-color: rgba($color-primary, 0.7);
    box-shadow: 0 4px 12px rgba(#000, 0.1);
  }

  &::placeholder {
    font-size: 1.4rem;
    color: rgba($color-text, 0.4);
  }


}
