@tailwind base;
@tailwind components;
@tailwind utilities;

@import "abstracts/variables";
@import "base/base";
@import "base/helper";



@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";


@import "components/btn";
@import "components/form";
@import "components/loading";
@import "components/dashboardTable";


@import "pages/authPage";
@import "pages/dashboard";

